@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior: smooth;
}

.active {
  color: #FCA310;
}



.logo-img {
  fill: red; /* Defina a cor do logo quando não estiver em hover */
  transition: fill 0.3s; /* Adicione uma transição suave */
}

.access-button {
  width: 40px;
  height: 40px;
  float: right;
  margin-right: 25px;
  margin-bottom: 100px;
}